NEXT_PUBLIC_ENV_MODE="staging" #production, or staging
NEXT_PUBLIC_DISABLE_MOBILE_ADVERTISING="true"

# staging
NEXT_PUBLIC_SUPABASE_URL="https://zgerwhcctcxtgywhfnoi.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnZXJ3aGNjdGN4dGd5d2hmbm9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTE0MDYsImV4cCI6MjA4NTg4NzQwNn0.Qa0gNJVLXUCpMwT0_gmFsiaSOendeZpNgWotrcBX7vs"

NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/v1"

NEXT_PUBLIC_URL="http://localhost:3000"

NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
KORTIX_ADMIN_API_KEY=""

EDGE_CONFIG="https://edge-config.vercel.com/REDACTED?token=REDACTED"

NEXT_PUBLIC_GTM_ID=""
NEXT_PUBLIC_GA_ID_1=""
NEXT_PUBLIC_GA_ID_2=""
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=""

NEXT_PUBLIC_FORCE_LOCALHOST="true"
